Package: com.opennotifications.tweak
Name: Open Notifications
Depends: mobilesubstrate, preferenceloader
Version: 0.1.0
Architecture: iphoneos-arm
Description: A tweak for iOS 5+ that can fake message and call notifications
Maintainer: Evrik Colozzo
Author: Evrik Colozzo
Section: Tweaks
Icon: file:///usr/share/opennotifications/icon.png
