Package: com.opennotifications.tweak
Name: OpenNotifications
Description: An awesome MobileSubstrate tweak!
Maintainer: Evrik Colozzo
Author: Evrik Colozzo
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Version: 0.1.0-15+debug
Installed-Size: 116
